@charset "utf-8";

@import 'reset';
@import 'mixin';

// --------------- color variable --------------- //
$point_pri: #5284e3;
$point_sec: #555a7d;
$point_whi: #ffffff;
$point_bla: #1f2027;
$point_err: #db0043;

// styles
